#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

h1, h2 {
  font-family: Montserrat;
}

form{
  margin-top: 2em;
}

input{
  font-family: Montserrat;
  font-size: 1.2em;
  margin: 0.3em;
}
